<div id="main">
  <div id="logo">
    <h1>Twitter Browser</h1>
  </div>
  {{#view TwitterBrowser.EnterUserNameView}}
    <input id="user_name" type="text" placeholder="Enter Twitter User Name">
  {{/view}}
</div>
