<div class="stream-item">
  <div class=stream-item-content highlightable">
    <div class="tweet-image"><img height="48" width="48" {{bindAttr src="profileImageUrl" }}></div>
    <div class="tweet-content">
      <div class="tweet-row">
        <span class="tweet-user-name">
          <span class="tweet-screen-name">{{userName}}</span>
          <span class="tweet-full-name">{{fullName}}</span>
        </span>
      </div>
    </div>
  </div>
</div>
