<div id="page-container">
  <div class="main-content">
    <div class="upper-nav">
      {{#view TwitterBrowser.BackToSearchView }}
        <span>← Search</span>
      {{/view}}
    </div>
    {{view TwitterBrowser.UserProfileView }}
    {{view TwitterBrowser.UserStreamView }}
  </div>
</div>
